main p {
    display: inline-block;
    height: 200px;
    line-height: 200px;
    width: 200px;
    text-align: center;
}

main .g {
    background-color: green;
}
main .r {
    background-color: red;
}
main .b {
    background-color: blue;
}
main .y {
    background-color: orange;
}

main a {
    text-decoration: none;
    color: white;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    display: inline-block;
    font-size: 1.5em;
    line-height: 1;
    vertical-align: middle;
}

div {
    font-family: Arial;
}

div a {
    color: orange;
    text-decoration: none;
}
div a:hover {
    background-color: orange;
    color: white;
}